!!! 5
%html.dark{:lang => "fr"}

	%head
		%title Guillaume Burel
		%meta{:name => "author", :content => "Guillaume Burel"}/
		%meta{:name => "description", :content=> "Site web de Guillaume Burel"}/
		%meta{:charset => "utf-8"}/
		%link{:rel => "stylesheet", :href => "style.css", :type => "text/css"}

	%body
		.content
			:markdown

				# Guillaume Burel

				## Bio

				Je suis étudiant à l'INSA de Lyon, au département TC, en 4ième année. Je vis à Saint-Priest, près de Lyon.  
				Passionné par l'informatique, je suis surtout assoiffé par le challenge qui constitue pour moi un moteur.  
				J'ai également longtemps pratiqué le football en club, pour n'y jouer qu'occasionnellement à présent.  

				## Mon actualité

				J'effectuerai un stage de 6 mois de juillet 2013 à décembre 2013 chez Intel à Feldkirchen, près de Munich. Je partirai ensuite pour Shangaï, Chine, de février 2014 à août 2014 pour y mener six mois d'échange universitaire ponctué du projet de fin d'études.  
				Cependant, n'hésitez pas à jeter un oeil à mon CV si mon profil est susceptible de vous intéresser par la suite.

				## Le traditionnel CV

				Vous pouvez trouver ci-dessous quelques éléments de mon CV, ou le [télécharger](cv.pdf) au format PDF.

				### Parcours scolaire

				*	**2011-2014**: Élève ingénieur, INSA de Lyon, département Télécommunications, services et usages.
				*	**2011**: DUT spécialité Informatique, IUT A de Lyon 1, département Informatique.
				*	**2009**: Baccalauréat Scientifique, option Sciences de l'Ingénieur, spécialité Mathématiques, Lycée Condorcet, Saint-Priest.

				### Expériences professionnelles

				#### Informatique

				*	**2012**: Assistant ingénieur, Université Lyon 1, service ICAP.  
					Adaptation, intégration et évaluation d'Open-Sankoré, logiciel d'enseignement pédagogique, à la plate-forme pédagogique de l’université.
				*	**2012**: Contributeur d'Open-Sankoré, Lausanne, Suisse.  
					Participation au développement du logiciel d’enseignement numérique.
				*	**2011**: Stagiaire, Volvo IT, Vénissieux.  
					Conception, développement et mise en production d’une application de suivi d'indicateurs.

				#### Diverses

				*	**2011-2012**: Équipier polyvalent, McDonald’s, Saint-Priest.  
					Préparation de produits alimentaires, relationnel client, travail d’équipe, prise de responsabilités.
				*	**2010 - 2011**: Tuteur, IUT A de Lyon 1, département Informatique.  
					Soutien en mathématiques, algorithmie, C aux élèves de première année.

				### Langues

				*	**Anglais**: Bon niveau, TOEIC 900/990
				*	**Allemand**: Lu, écrit, parlé, niveau européen B1

				### Centres d'intérêt

				*	**Sport**: Pratique du football en club, badminton, handball et volley en loisir.
				*	**Audiovisuel**: Cinéma, séries TV, musique
				*	**Divers**: Politique, économie, histoire
