<div id="content">
	<h1>&Agrave; propos</h1>
	<h2>L'auteur du site</h2>
	<p>Guillaume BUREL, 20 ans, étudiant à l'INSA de Lyon, en <acronym title="Télécommunications, services et usages">TC</acronym>. Passionné par l'informatique depuis de nombreuses années. La programmation, la mise en place de réseaux et de bases de données plus particulièrement. <br />
	<a href="?page=cv">Voir mon CV</a> - <a href="mailto:guillaume at yimgo.fr">Me contacter</a></p>
	<h2>Le site</h2>
	<p>
		Site réalisé dans le cadre du cours de Web à l'IUT, assuré par Mlle FRANCO.<br />
		Aucun droit n'étant réservé sur le code source (php, css), n'hésitez pas à me contacter pour l'obtenir.
	</p>
</div>