<div id="content">
	<h1>Curriculum Vitae</h1>
	<h2 id="web">Version web</h2>
	<div id="border-list">
		<p class="coordonnees">
			<strong>Guillaume BUREL</strong> - Élève ingénieur<br />
			86 ter avenue Jean Jaur&egrave;s - All&eacute;e F37<br />
			69800 Saint-Priest<br />
			T&eacute;l&eacute;phone: +33 699 063 466<br />
			E-mail: <a href="mailto:guillaume (at) yimgo (dot) fr">guillaume (at) yimgo (dot) fr</a><br />
			Date de naissance: 2 d&eacute;cembre 1991<br />
		</p>
		<h3>Parcours scolaire</h3>
		<table>
			<tr>
				<td><strong>2011-2014</strong></td>
				<td>&Eacute;l&egrave;ve ing&eacute;nieur, INSA Lyon, d&eacute;partement T&eacute;l&eacute;communications, services et usages.</td>
			</tr>
			<tr>
				<td><strong>2009-2011</strong></td>
				<td>&Eacute;tudiant en deuxi&egrave;me ann&eacute;e &agrave; l'IUT A (Institut Universitaire Technologique) – D&eacute;partement Informatique – &agrave; Lyon I</td>
			</tr>
			<tr>
				<td><strong>2009</strong></td>
				<td>Baccalaur&eacute;at s&eacute;rie S option sciences de l'ing&eacute;nieur (Mention bien) – Lyc&eacute;e Condorcet, Saint-Priest</td>
			</tr>
		</table>
		
		<h3>Exp&eacute;riences professionnelles</h3>
		<table>
			<tr>
				<td><strong>2011</strong></td>
				<td>
					Stagiaire, Volvo IT - Renault Trucks, V&eacute;nissieux, France.<br />
					Conception, d&eacute;veloppement et mise en production d’une application de suivi.
				</td>
			</tr>
			<tr>
				<td><strong>2010-2011</strong></td>
				<td>
					&Eacute;quipier polyvalent – Mc Donald's<br />
					<em>Pr&eacute;paration de produits alimentaires, relationnel client, travail d'&eacute;quipe, prise deresponsabilit&eacute;s</em>
				</td>
			</tr>
			<tr>
				<td><strong>2010-2011</strong></td>
				<td>
					Tuteur – IUT Lyon I<br />
					<em>Soutien en math&eacute;matiques, algorithmie, C aux &eacute;l&egrave;ves de premi&egrave;re ann&eacute;e</em>
				</td>
			</tr>
		</table>
		
		<h3>Compétences</h3>
		
		<h4>Langues</h4>
		<ul>
			<li>Anglais : bon <em>(TOEIC: 860)</em></li>
			<li>Allemand : bases</li>
		</ul>
		
		<h4>Informatique</h4>
		<ul>
			<li>Programmation: C, C++, Qt, Java, Intel 8080 Asm</li>
			<li>Scripts: Php, Shell</li>
			<li>OS: Linux, UNIX, MS Windows</li>
			<li>Bases de données: SQL, PL/SQL, Oracle DBs</li>
			<li>Web: HTML+CSS, Javascript</li>
			<li>Réseau: Modèle OSI, Ethernet, IP, HDLC</li>
			<li>Autres: Participation au Nokia Forum : "Qt for Mobile Training", d&eacute;veloppement d'un lecteur audio (C++/Qt)</li>
		</ul>
		
		<h4>Divers</h4>
		<ul>
			<li>Traitement du signal: Transformées de Fourier, ondelettes, Matlab</li>
			<li>Environnement de l'IT : Gestion de projets, droit, économie, marketing, communication</li>
		</ul>


		<h3>Loisirs</h3>
		<ul>
			<li>Sports: Pratique du football en club, divers sports collectifs</li>
			<li>Audiovisuel: Cinéma, séries TV, jeux vidéos</li>
		</ul>
	</div>
	
	<h2 id="pdf">Version PDF</h2>
	<p>T&eacute;l&eacute;charger: <a href="res/cv-fr.pdf">en français</a>, <a href="res/cv-en.pdf">en anglais.</a></p>
	
</div>