html {
	background-color: white;
	color: black;
	font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
	font-size: 0.90em;

}

body {
	margin: 0;
	padding: 0;
}

#header {
   border-bottom: 4px solid white;
   padding-bottom: 0;
}

#title {
	position: relative;
	height: 65px;
	padding-left: 1%;
	text-align: left;
	}
	
#title a {
	color: #86ABD9;
	font-size: 300%;
	font-family: "Trebuchet MS", sans-serif;
	}

#content {
	margin-top: 2em;
	margin-left: 3em;
	margin-right: 15em;
	line-height: 1.75em;
}

a { 
	color: #86ABD9;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;     
	line-height: 1.2em;
}	

h1 {
	font-size: 1.6em; 
	border-bottom: 2px solid #86ABD9;
	color: #86ABD9;
	
}

h2 {
	font-size: 1.4em;
	color: #86ABD9;
}

h3 {
	font-size: 1.3em;
	color: #86ABD9;
}

h4 {
	font-size: 1.2em;
	color: #86ABD9;
}

table {
   border: 2px solid #86ABD9; 
   border-collapse: collapse;
   margin-top: 1em;
   margin-bottom: 1em;
}

td {
   border: 1px solid #86ABD9;
   text-align: left; 
   padding: 0.2em; 
}


#border-list {
	border: 2px solid #86ABD9;
	padding: 0 0.5em 0 0.5em;
	color: #000B49;
}		


#menu {
	margin-left: 0em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 3em;
	padding-right: 0.5em;
	font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
	margin-top: 1em;
	background-color: #86ABD9;
	height: 2em;
	border-top: 3px dotted white;
	border-bottom: 3px dotted white;
	line-height: 1.75em;
	color: white;

}

#menu a {
	color: white;
}

#footer {
	text-align: center;
	border-top: 1px solid #000B49;
	
	font-size: 0.90em;
	color: black;
	margin-top: 3em;
	margin-left: 3em;
	margin-right: 15em;
}

#footer a {
	color: #000B49;
}

#access {
	font-size: 0.6em;
	text-align: right;
	margin-right: 1%;

}

#border-list td, table

{
	border: none;
}
.back-light
{
	background-color: #B0C4DE;
}


